@font-face {
    font-family: OpenSans;
    src: url(OpenSans-VariableFont_wdth,wght.ttf);
}
.sicontain{
    display: grid;
    width: max(250px,20vw);
    font-size: 24px;
    grid-template-columns: 1fr;
    row-gap: 12px;
    padding-left: 12px;
    font-weight: bold;
}
.left{
    min-height: 100vh;
    width: max(250px,20vw);
    max-width: 400px;
    background: #0ea5e9;
    color: white;
    margin: 0;
}
body{
    display: flex;
    margin: 0;
    font-family: OpenSans;
    background-color: #e2e8f0;
}
.firstbar{
    display: flex;
    justify-content: space-between;
    font-size: 27px;
    font-weight: bold;
    padding: 14px;
    padding-left: 6px;
    padding-right: 6px;
    align-items: center;
    background-color: white;
}
.secondbar{
    display: flex;
    background-color: white;
}
.main{
    display: flex;
}
.trenduser{
    display: flex;
}
.content-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 440px);
    row-gap: 10px;
    column-gap: 10px;
    width: 60vw;
}
.TR-grid{
    display: grid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(182, 182, 182, 0.75);
}
.BR-grid{
    display: grid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(182, 182, 182, 0.75);
    font-size: 18px;
}
.sideicon{
    height: 1em;
    width: 1em;
    filter: invert(1);
    cursor: pointer;
}
.nsicon{
    height: 1em;
    width: 1em;
}
.mainicon{
    height: 1.25em;
    width: 1.25em;
    cursor: pointer;
}
.mainpfp{
    height: 4.2em;
    width: 4.2em;
    border-radius: 50%;
    margin-left: 1.25vw;
    margin-right: 1.5vw;
    align-self: center;
}
.UNicon{
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
}
.dashboard{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.sidelink{
    margin-left: 5px;
    cursor: pointer;
}
.user-area{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 4vw;
    display: flex;
    justify-content: space-between;
}
.topbar{
    margin-left: 1vw;
    margin-right: 1vw;
    align-self: center;
}
input{
    min-width: 250px;
    width: 50vw;
    max-width: 850px;
    background-color: #e2e8f0;
    border: none;
    border-radius: 12px;
    font-size: 20px;
}
.form-content{
    display: flex;
}
.input{
    display: flex;
    align-content: center;
}
.usergreet{
    font-size: 20px;
}
.usertitle{
    font-size: 32px;
    font-weight: bold;
}
.subpfp{
    height: 2.4em;
    width: 2.4em;
    border-radius: 50%;
    cursor: pointer;
    padding-right: 6px;
}
button{
    font-size: min(27px, max(20px, 2vw));
    border: none;
    border-radius: 27px;
    color: white;
    background-color: #0ea5e9;
    padding: 0.4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1vw;
    margin-right: 1vw;
    align-self: center;
}
.dobuttons{
    align-items: center;
    display: flex;
}
.secondbar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}
.userinfo{
    display: flex;
}
.bgtitle{
    font-size: 22px;
    padding-bottom: 8px;
    font-weight: bold;
}
.main{
    margin: 12px;
    margin-top: 22px;
    margin-bottom: 32px;
}
.project{
    width: 400px;
    height: 180px;
    padding: 16px;
    padding-top: 22px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 12px;     
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(182, 182, 182, 0.75);
}
.bottom-func{
    align-self: flex-end;
}
.smtitle{
    font-weight: boldr;
    font-size: 20px;
}
.description{
    font-size: 18px;
}
.announcement{
    padding: 14px;
    box-shadow: 0 1px 1px rgba(182, 182, 182, 0.75);
}
.rightside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trenduser{
    padding: 9px;
}